* {
  font-family: monospace;
}

/* main */
.container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

/* drawing */
.drawing-container {
  position: relative;
  padding-right: 50px;
}

.bottom-bar {
  height: 10px;
  width: 180px;
  background-color: rgb(14, 14, 14);
}

.vert-bar {
  height: 320px;
  width: 10px;
  margin-left: 85px;
  background-color: rgb(14, 14, 14);
}

.top-bar {
  height: 10px;
  width: 180px;
  margin-left: 85px;
  background-color: rgb(14, 14, 14);
}

.rope-bar {
  width: 4px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 53px;
  background-color: rgb(14, 14, 14);
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: transparent;
}

.body {
  width: 10px;
  height: 100px;
  background-color: rgb(14, 14, 14);
  position: absolute;
  top: 120px;
  right: 50px;
}

.right-arm {
  height: 10px;
  width: 80px;
  background-color: rgb(14, 14, 14);
  position: absolute;
  top: 150px;
  right: -30px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.left-arm {
  height: 10px;
  width: 80px;
  background-color: rgb(14, 14, 14);
  position: absolute;
  top: 150px;
  right: 60px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.right-leg {
  height: 10px;
  width: 80px;
  background-color: rgb(14, 14, 14);
  position: absolute;
  top: 210px;
  right: -20px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.left-leg {
  height: 10px;
  width: 80px;
  background-color: rgb(14, 14, 14);
  position: absolute;
  top: 210px;
  right: 50px;
  rotate: -60deg;
  transform-origin: right bottom;
}

/* word */
.keyboard-wrapper {
  align-self: stretch;
}
.word-container {
  display: flex;
  gap: 1rem;
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.letter-container {
  border-bottom: 0.1em solid rgb(14, 14, 14);
}

/* keyboard */
.keyboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 0.5rem;
}

.keyboard-btn {
  width: 100%;
  border: 3px solid rgb(14, 14, 14);
  border-radius: 0.8rem;
  background-color: #adb4d3bd;
  aspect-ratio: 1/1;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: rgb(14, 14, 14);
}

.keyboard-btn:hover:not(:disabled),
.keyboard-btn:focus:not(:disabled) {
  background-color: #7480bbbd;
}

.keyboard-btn.active {
  color: whitesmoke;
  background-color: #5563a9;
  cursor: default;
}

.keyboard-btn.inactive {
  opacity: 0.3;
  cursor: default;
}

/* btns-container */
.btns-container {
  display: flex;
}

.btns-container button {
  padding: 1rem;
  border-radius: 16px;
  border: 2px solid rgb(14, 14, 14);
  margin: 0px 16px;
  cursor: pointer;
}

.btns-container button:hover,
.btns-container button:focus {
  background-color: #7480bbbd;
}

/* media */
@media screen and (max-width: 480px) {
  .word-container {
    font-size: 2rem;
  }

  .keyboard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 0.2rem;
  }

  .keyboard-btn {
    font-size: 1rem;
    padding: 0.2rem;
  }
}
